.Workbetter {
    padding: 130px 16px;
    background-color: #F2BDEB; /* Background color similar to the provided image */
    text-align: center; /* Center align text */
}

.Workbetter_Icon_boxs {
    width: 100%;
    margin: 0 auto;
    max-width: 1150px;
}

.Workbetter h2 {
    margin-bottom: 80px;
    font-size: 2rem; /* Adjust font size as needed */
    color: #000; /* Black text color */
}

.Workbetter_boxs {
    padding: 40px 20px;
    background-color: #fff; /* White background for each item */
    border-radius: 30px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Center content vertically */
    height: 250px; /* Fixed height for uniformity */
}

.Workbetter_boxs img {
    width: 100px; /* Adjust width to fit within the shape */
    height: 100px; /* Adjust height to fit within the shape */
    margin-bottom: 10px; /* Space between image and text */
}

.Workbetter_boxs p {
    margin: 0;
    font-size: 1rem; /* Adjust font size as needed */
    font-weight: bold;
    color: #333; /* Dark grey text color */
    
}

.Workbetter_boxs_P{
    max-width: 106px;
}
@media only screen and (max-width: 1200px) {
    .Workbetter_boxs {
        height: auto; /* Adjust height for medium screens */
    }
}

@media only screen and (max-width: 768px) {
    .Workbetter {
        padding: 0px 16px 129px 16px;
    }
    .Workbetter h2 {
        margin-bottom: 23px;
        font-size: 1.5rem; /* Adjust font size for smaller screens */
    }
    .Workbetter_Icon_boxs {
        padding: 0 20px;
    }
    .Workbetter_boxs {
        padding: 30px 20px;
        border-radius: 30px;
        height: auto; /* Adjust height for smaller screens */
    }
    .Workbetter_boxs img {
        max-width: 35px;
        height: 35px;
    }
}
